@media (min-width: 768px) {
  .wrapper-for-desktop-list {
    display: none;
  }

  .devider {
    position: relative;
  }

  .devider::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50px;
    transform: translateY(-50%);
    display: block;
    height: 30px;
    width: 2px;
    border-radius: 6px;
    background-color: var(--devider);
  }

  .tablet-icon-list {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 20px;
    list-style-type: none;
    margin-left: auto;
  }

  .button__devider {
    position: relative;
    padding-right: 10pх;
  }

  .button__devider::before {
    content: "";
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    display: block;
    height: 30px;
    width: 2px;
    border-radius: 6px;
    background-color: var(--devider);
  }

  .about-company-tablet {
    display: flex;
    height: 208px;
    gap: 40px;
  }

  .info-about-company {
    padding: 10px;
    display: flex;
    flex-direction: column;
  }

  .additional-text {
    display: block;
    height: 40px;
    overflow: hidden;
  }

  .about-company-tablet__img {
    width: 360px;
    height: 208px;
    border-radius: 6px;
  }
}
