@media (min-width: 1366px) {
  .menu-for-mobile,
  .menu-for-tablet {
    display: none;
  }

  .header-for-desktop {
    border-bottom: none;
    padding-top: 20px;
  }

  .logo::after {
    display: none;
  }

  .about-services__icon,
  .title,
  .text-for-tablet {
    display: none;
  }

  .menu-for-desktop {
    display: flex;
    background-color: var(--background);
    padding: 15px 15px 15px 0;
    align-items: center;
  }

  .wrapper-for-desktop-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  .wrapper-for-desktop-menu__icon {
    width: 4px;
    height: 40px;
  }

  .wrapper-for-desktop-menu__title {
    width: 304px;
    height: 40px;
    color: var(--text);
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0.6px;
  }

  .wrapper-for-desktop-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
  }

  .repair-request,
  .check-status {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .button__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--text);
  }

  .navbar {
    display: flex;
  }

  .services-list {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .services-list-for-desktop {
    margin-top: 20px;
  }

  .about-company {
    margin-top: 0;
  }

  .about-company-desktop {
    display: flex;
    gap: 20px;
    padding: 10px;
  }

  .text-for-desktop {
    display: block;
    font-size: 14px;
    line-height: 18px;
    color: var(--text);
    letter-spacing: 0.2px;
    padding: 10px;
  }

  .about-company-desktop__img {
    width: 531.35px;
    height: 307px;
    margin: 0;
  }
}
