@media (min-width: 1366px) {
  .wrapper-for-menu {
    display: none;
  }

  .wrapper-for-desktop-list {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    gap: 20px;
  }

  .repair-request,
  .check-status {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .button__text {
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: var(--text);
  }

  .services-list {
    flex-wrap: wrap;
    overflow-x: hidden;
  }

  .services-list-for-desktop {
    margin-top: 20px;
  }

  .about-company {
    margin-top: 20px;
  }

  .about-company-desktop {
    display: flex;
    margin-top: 20px;
    gap: 40px;
    padding: 10px;
  }

  .info-about-company__text {
    display: block;
  }
  .additional-text {
    display: block;
  }
  .additional-text {
    display: block;
    overflow: visible;
  }

  .wrapper-for-desktop-button {
    margin-top: 10px;
  }

  .about-company-desktop__img {
    width: 531.35px;
    height: 307px;
    margin: 0px;
  }
}
